* { 
  box-sizing: border-box; 
}

body {
  background-color: #81d8d0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overscroll-behavior: contain;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:transparent;
  display: flex;
  align-items: center;
}

.card { 
  position: absolute;
  transition: 0.4s;
  border-radius: 8px;
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  transform: rotate(var(--deg));
  z-index: var(--z);
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;
}

.card.drag {
  transition: 0s;
}

.portfolio:not(.stack) .card.pick {
  animation: forwards 0.4s display-card;
  width: var(--display-width);
  height: var(--display-height);
  top: var(--display-top);
  left: var(--display-left);
  transform: rotate(var(--display-deg));
  z-index: var(--display-z);
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}

/* stack ------------ */

.portfolio.stack .card {
  top: var(--stack-top);
  left: var(--stack-left);
  transform: rotate(var(--stack-deg));
  z-index: var(--stack-z);
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio.stack .card.pick {
  width: var(--display-width);
  height: var(--display-height);
  top: var(--display-top);
  left: var(--display-left);
}

.portfolio.stack .card > img {
  width: var(--stack-width);
  height: 300px;
  transition: 0.4s;
}

.portfolio.stack .card.pick > img {
  width: var(--display-width);
  height: var(--display-height);
}

.portfolio:not(.stack) .card:hover{
  z-index: 2;
}

.portfolio:not(.grid) .pick,
.portfolio:not(.stack) .pick {
  z-index: 9999;
}


@media(hover: hover) and (pointer: fine) {
  .portfolio.stack .card.peek:not(.pick){
    transform: rotate(-10deg) translateX(-150px);
  } 
}

.spin_to_the_back {
  animation: forwards spin-to-back calc(0.6s + var(--prev-stack-delay));
}

@keyframes spin-to-back {
  0% {
    top: var(--prev-stack-top);
    left: var(--prev-stack-left);
    transform: rotate(0deg);
    z-index: var(--prev-stack-z);
  }
  20% {
    left: calc(var(--prev-stack-left) + 50px);
    z-index: var(--stack-z);
  }
  70% {
    top: -200px;
    left: calc(var(--stack-left) * 0.4);
  }
  100% {
    top: var(--stack-top);
    left: var(--stack-left);
    transform: rotate(360deg);
    z-index: var(--stack-z);
  }
}

.spin_to_the_front {
  animation: forwards spin-to-front calc(0.6s);
}

@keyframes spin-to-front {
  0% {
    top: var(--prev-stack-top);
    left: var(--prev-stack-left);
    transform: rotate(0deg);
    z-index: var(--prev-stack-z);
  }
  50% {
    top: -30%;
    left: -10%;
    z-index: var(--stack-z);
  }
  100% {
    top: var(--stack-top);
    left: var(--stack-left);
    transform: rotate(-360deg);
    z-index: var(--stack-z);
  }
}

/* grid ------------ */

.portfolio.grid nav {
  display: none;
}

.portfolio.grid {
  max-width: 1300px;
}

.portfolio.grid .card > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.portfolio.grid .card > img.vert {
  width: 100%;
  height: auto;
}

.portfolio.grid .card > img.hori {
  height: 100%;
  width: auto;
}

.portfolio.grid .card {
  transform: none;
  top: var(--grid-top);
  left: var(--grid-left);
  width: var(--grid-width);
  height: var(--grid-height);
  z-index: var(--grid-z);
}

.wrapper.overflow {
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper.overflow .portfolio {
  overflow-x: hidden;
  overflow-y: auto;
}



/* button ------------ */

.button_wrapper {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  z-index: 99999;
}

button {
  border: 0px;
  background-color: transparent;
  margin: 8px;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
  background-size: 32px !important; 
  cursor: pointer;
  filter: invert();
  pointer-events: auto;
}

button:hover,
button.selected {
  filter: invert(0);
}

button:hover {
  opacity: 0.5;
}

button.disabled {
  transition: 0.4s;
  opacity: 0;
  cursor: auto;
}

.shuffle_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAKtJREFUWEftleEOgCAIhPX9H7pWi2aJchjqXPhbuc8TjxgmrzhZPzhAzYHN+HlYrRKAtTjdJdPjAHqJsxAOsJQD2swo9dKjjsaBJQC0Pyhqb4VkEwpxaiNJ2AIpQdw10SS0hBjWhIfDbyfEKIatQ5rh2kM1xWEkiRcHigIm20pUqLgG4p9BlFps7sCXp07PNn9DBxjmAJdgXcTRYdRNXAKwEq7WaZlypmAOsAMU6iIhJuV19wAAAABJRU5ErkJggg==);
}

.grid_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAFFJREFUWEdjZBhgwDjA9jMMOgf8JxAiIAdTSw3YKvQQoJbhxJgz6oDREBgNAawhQPeCcbQcGA2B0RAYDYHRFtFoGhgNgdEQGHQhMOAtopHnAAA3d0ghlLSDZgAAAABJRU5ErkJggg==);
}

.stack_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAGlJREFUWEftlkEOABAMBPn/o4mDxKVkS7VkXRHT2YPNyXll5/dTWICyYQYaSjocBgCaRmNtZaDtm9p4CsAkDsSASRwEoAEaoAEaoIGwBsZy0wvJ1d+QAFK/PN4P0ZpFAE31n95BI/gPoAKeNTwhYm+4rAAAAABJRU5ErkJggg==);
}

.single_stack_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAEZJREFUWEft1rEJADAIBEDdf+hkAxEsJOHsxfewMGO5cnl+CPCEwBneSblkR0AAAgQIECBAgAABAusCw6e4bu98xQL8LXAB8jwWISts5h4AAAAASUVORK5CYII=);
}

.scatter_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAARZJREFUWEe1V8sSAyEIY///o9uxU3dYq+aB3UsvkISIYK/4z/eKiIuBpoIYoBTTyPsH8WFAgZwSgQTQVkZErnzUveTZCVCs3JFvnVgJmAEqsauT+8GYgSpWMpVvj2MUwAD2HCYWOpEFKIDHRFSAKrl3YzYQpfLVeToYnwKOVPFVpYi4j97tgYoTj8Z3bgGacso1nm4sy8pBFT3IKtON2SNwIbG7ANm+GjhwmSlV5Gq6xSgfbnMGYNyK4/kyGEshKLlbmH9nYAjHEoAqd/vikVe5BUecUN8DsKnY1zC6n8owKjnhzoFjTqDudZ1AuPwfB+O9QJPn9wCylHVCIlcEtFgkQiZXBexEWOSOgJkIm9wVkEWUyBvQG5veMyFFekG6AAAAAElFTkSuQmCC);
}

/* nav ------------ */

nav {
  position: absolute;
  left: var(--left);
  top: var(--top); 
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  pointer-events: none;
  transition: 0.4s;
  opacity: 0;
  z-index: 99999;
}

.portfolio.display nav,
.portfolio.stack nav {
  pointer-events: auto;
  opacity: 1;
}

.prev_btn,
.next_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAKZJREFUWEfd1UkKwCAMBdB4/0O3CC24y59EWrfV/OdAM+rwGIfz61OAqyoPZk5gAuZg1rQ3zBR7AVGECoghHEAE4QJsRAJgIVIAGZEESIg0gEbsAFCIXQAYsRMAIX4NgDYHTXpa2tqMui4H14UnVhUKYGpSvR0BUOHQK13OugPQ4UmAFJ4CyOEJgBXuAuxwBxAJVwGxcAUQDWcB3e9X+h7fEas4DrgB2MQaIfd0dGsAAAAASUVORK5CYII=);
}

.next_btn {
  margin-right: 0;
}

.prev_btn {
  transform: scale(-1, 1);
  margin-left: 0;
}


/* sign ------------ */

.sign {
  position: absolute;
  color: black;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
