* {
  box-sizing: border-box;
  user-select: none;
  --n: 4px;
  touch-action: none;
}

body {
  background-color: #81d8d0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overscroll-behavior: contain;
  font-size: 16px;
  color: #1a97a8;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  position: absolute;
  transform-style: preserve-3d;
  perspective: 600px;
  translate: var(--ml) var(--mt);
  z-index: var(--z);
  transition: 0.2s;
}

.card {
  transform: rotateX(var(--x)) rotateY(var(--y)) var(--scale);
  border-radius: calc(var(--n) * 2);
  background-color: rgb(49, 42, 112);
  width: 200px;
  height: 280px;
  transition: 0.2s;
  cursor: pointer;
}

.nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
  font-size: 3rem;
  z-index: 9999;
  pointer-events: none;
}

.nav .arrow {
  pointer-events: all;
  cursor: pointer;
}

[state='shuffle-back'] {
  animation: forwards shuffle-back 0.5s;
}

@keyframes shuffle-back {
  0% {
    translate: var(--prev-ml) var(--prev-mt);
    rotate: 0;
    z-index: 999;
  }
  50% {
    translate: calc(var(--prev-ml) + 100px) calc(var(--prev-mt) - 500px);
    z-index: var(--z);
  }
  100% {
    translate: var(--ml) var(--mt);
    rotate: -360deg;
    z-index: var(--z);
  }
}

[state='shuffle-front'] {
  animation: forwards shuffle-front 0.5s;
}

@keyframes shuffle-front {
  0% {
    translate: var(--prev-ml) var(--prev-mt);
    rotate: 0;
    z-index: var(--z);
  }
  40% {
    translate: calc(var(--prev-ml) - 200px) calc(var(--prev-mt) - 600px);
    /* z-index: 999; */
    z-index: var(--z);
  }
  100% {
    translate: var(--ml) var(--mt);
    rotate: -360deg;

    z-index: 999;
  }
}
