* {
  box-sizing: border-box;
  user-select: none;
  --n: 4px;
  touch-action: none;
  --bg: #2606de;
}

body {
  /* background-color: #de5106; */
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overscroll-behavior: contain;
  font-size: 16px;
  color: #fff;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  position: absolute;
  transform-style: preserve-3d;
  perspective: 600px;
  translate: var(--ml) var(--mt);
  z-index: var(--z);
  transition: 0.2s;
  transform-origin: center;
}

.card {
  transform: rotateX(var(--x)) rotateY(var(--y)) var(--scale);
  border-radius: calc(var(--n) * 2);
  width: 200px;
  height: 280px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card img {
  height: 300px;
  aspect-ratio: var(--ratio);
  pointer-events: none;
}

.card-wrapper.tilt {
  transform-origin: bottom left;
  rotate: -8deg;
  translate: calc(var(--ml) - 40px) calc(var(--mt) - 10px);
}

.nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
  font-size: 3rem;
  z-index: 9999;
  pointer-events: none;
}

[state='scatter'] .arrow {
  opacity: 0;
  pointer-events: none;
}

.arrow {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

[state='deck'] [state='shuffle-back'] {
  animation: forwards shuffle-back 0.4s;
}

@keyframes shuffle-back {
  0% {
    translate: var(--prev-ml) var(--prev-mt);
    rotate: 0;
    z-index: 999;
  }
  50% {
    translate: calc(var(--prev-ml) + 100px) calc(var(--prev-mt) - 500px);
    z-index: var(--z);
  }
  100% {
    translate: var(--ml) var(--mt);
    rotate: -360deg;
    z-index: var(--z);
  }
}

[state='deck'] [state='shuffle-front'] {
  animation: forwards shuffle-front 0.4s;
}

@keyframes shuffle-front {
  0% {
    translate: var(--prev-ml) var(--prev-mt);
    rotate: 0;
    z-index: var(--z);
  }
  40% {
    translate: calc(var(--prev-ml) - 200px) calc(var(--prev-mt) - 600px);
    z-index: var(--z);
  }
  100% {
    translate: var(--ml) var(--mt);
    rotate: -360deg;
    z-index: 999;
  }
}

.btn-wrapper {
  position: absolute;
  z-index: 9999;
}

button {
  box-shadow: 0 0 0 1px #fff;
  border: 0;
  background-color: transparent;
  color: #fff;
  pointer-events: all;
}

button:hover {
  background-color: #fff;
  color: var(--bg);
}

[state='scatter'] .card-wrapper {
  translate: var(--scatter-x) var(--scatter-y);
  top: 0;
  left: 0;
  z-index: 0;
}

[state='scatter'] .card-wrapper:hover {
  z-index: 9999;
}

[state='scatter'] .card {
  transform: rotateX(var(--scatter-angle-x)) rotateY(var(--scatter-angle-y))
    scale(var(--scatter-scale));
}

[state='scatter'] .card:hover {
  transform: rotateX(var(--x)) rotateY(var(--y)) var(--scale);
}

[state='scatter'] .selected .card {
  transform: rotateX(0) rotateY(0) scale(1);
  width: 100%;
  height: 100%;
}

[state='scatter'] .selected {
  width: 100vw;
  height: 100dvh;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

[state='scatter'] .selected .card img {
  max-width: calc(100vw - 40px);
  max-height: calc(100dvh - 40px);
  width: auto;
  height: auto;
  border-radius: calc(var(--n) * 2);
  aspect-ratio: var(--ratio);
}
