body {
  background-color: #0b2f3d;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 90vh;
  width: 90vw;
  background-color: transparent;
  overflow: hidden;
}

.portfolio {
  height: 100%;
  width: 100%;
  background-color:transparent;
  overflow: hidden;
}

.card { 
  position: absolute;
  transition: 0.4s;
  /* transition: 4s; */
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  border-radius: 8px;
  overflow: hidden;
  transform: rotate(var(--deg));
  z-index: var(--z);
}

.card:hover{
  cursor: pointer;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}

.card.pick {
  background-color: transparent; 
  opacity:1;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
  width: var(--display-width);
  height: var(--display-height);
  top: var(--display-top);
  left: var(--display-left);
  transform: rotate(var(--display-deg));
  z-index: var(--display-z);
}

.card.stack {
  opacity: 1;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
  /* width: var(--stack-width);
  height: var(--stack-height); */
  top: var(--stack-top);
  left: var(--stack-left);
  transform: rotate(var(--stack-deg));
  z-index: var(--stack-z);
}

.card.stack { 
  width: 200px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card.stack > img {
  width: var(--width);
  height: var(--height);
}

.pick:hover {
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}

.pick img:hover,.card img:hover { 
  opacity: 1;
}

.z1{
  z-index: 1;
}

.card:hover{
  z-index: 2;
}

.pick {
  z-index: 999;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}

.stack {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 999;
}

.card.stack:hover{
  z-index: 9999;
}
