* { box-sizing: border-box; }

body {
  background-color: #81d8d0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:transparent;
  /* overflow: hidden; */
}

.card { 
  position: absolute;
  transition: 0.4s;
  border-radius: 8px;
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  transform: rotate(var(--deg));
  z-index: var(--z);
  overflow: hidden;
}

/* grid ------------ */
.portfolio.grid {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
}

.portfolio.grid > .card:not(.pick) {
  position: relative;
  transform: none;
  top: 0;
  left: 0;
  margin: 4px;
  width: 100px;
  height: 100px;
  z-index: 0;
  animation: grid-display forwards 0.4s;
}

.portfolio.grid > .card {
  transition: 0s;
}

/*
.portfolio.grid > .card.pick {
  animation: display forwards 0.4s;
} */

@keyframes grid-display {
  0% { 
    transform: scale(10); 
    opacity: 0;
  }
  100% { 
    transform: scale(1); 
    opacity: 1;
  }
}

/* @keyframes display {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
} */

.portfolio.grid .card:not(.pick) > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.portfolio.grid .card:not(.pick) > img.vert {
  width: 100px;
  height: auto;
}

.portfolio.grid .card:not(.pick) > img.hori {
  height: 100px;
  width: auto;
}

/* grid ------------ */

.card:hover {
  cursor: pointer;
}

.card.pick {
  width: var(--display-width);
  height: var(--display-height);
  top: var(--display-top);
  left: var(--display-left);
  transform: rotate(var(--display-deg));
  z-index: var(--display-z);
}

.portfolio:not(.grid) .card.stack {
  top: var(--stack-top);
  left: var(--stack-left);
  transform: rotate(var(--stack-deg));
  z-index: var(--stack-z);
}

.portfolio:not(.grid) .card.stack { 
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio:not(.grid) .card.stack > img {
  height: 300px;
  width: auto;
}

.card:not(.stack):hover{
  z-index: 2;
}

.pick:not(.stack) {
  z-index: 9999;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}

@media(hover: hover) and (pointer: fine) {
  .card.stack.peek{
    transform: rotate(-10deg) translateX(-150px);
  } 
}

.card.drag {
  transition: 0s;
}

.spin_to_the_back {
  animation: forwards spin-back calc(0.7s + var(--prev-stack-delay));
}

@keyframes spin-back {
  0% {
    top: var(--prev-stack-top);
    left: var(--prev-stack-left);
    transform: rotate(0deg);
    z-index: var(--prev-stack-z);
  }
  20% {
    left: calc(var(--prev-stack-left) + 50px);
    z-index: var(--stack-z);
  }
  70% {
    top: -200px;
    left: calc(var(--stack-left) * 0.4);
  }
  100% {
    top: var(--stack-top);
    left: var(--stack-left);
    transform: rotate(360deg);
    z-index: var(--stack-z);
  }
}

.button_wrapper {
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: flex;
  z-index: 99999;
}

/* this will have images maybe */
button {
  border: 0px;
  background-color: white;
  border-radius: 8px;
  margin: 4px;
  padding: 4px 8px;
}

.display_clone {
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
}
.display_clone.display {
  animation: forwards 0.4s display-clone;
}
.display_clone.display.hide {
  animation: forwards 0.4s hide-clone;
}

@keyframes display-clone {
  0% {
    top: var(--grid-display-top);
    left: var(--grid-display-left);
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  100% {
    top: var(--display-top);
    left: var(--display-left);
    width: var(--display-width);
    height: var(--display-height);
    opacity: 1;
  }
}


@keyframes hide-clone {
  0% {
    top: var(--display-top);
    left: var(--display-left);
    width: var(--display-width);
    height: var(--display-height);
    opacity: 1;
  }
  100% {
    top: var(--grid-display-top);
    left: var(--grid-display-left);
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}


.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}