body {
  background-color: #0b2f3d;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

img {
  height: 100%;
  width: 100%;
}

.outer_wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
}

.portfolio {
  height: 100%;
  width: 100%;
  background-color:transparent;
  overflow: hidden;
}

.card { 
  position: absolute;
  transition: 0.4s;
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  border-radius: 8px;
  overflow: hidden;
  transform: rotate(var(--deg));
  z-index: var(--z);
}

.card:hover{
  cursor: pointer;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}

.card.pick {
  background-color: transparent; 
  opacity:1;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
  width: var(--display-width);
  height: var(--display-height);
  top: var(--display-top);
  left: var(--display-left);
  transform: rotate(var(--display-deg));
  z-index: var(--display-z);
}

.card.stack {
  opacity: 1;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
  top: var(--stack-top);
  left: var(--stack-left);
  transform: rotate(var(--stack-deg));
  z-index: var(--stack-z);
}

.card.stack { 
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card.stack > img {
  height: 300px;
  width: auto;
}

.pick:hover {
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}

.pick img:hover,.card img:hover { 
  opacity: 1;
}

.z1{
  z-index: 1;
}

.card:not(.stack):hover{
  z-index: 2;
}

.pick:not(.stack) {
  z-index: 9999;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}

.stack {
  position: absolute;
  bottom: 50px;
  right: 50px;
  /* z-index: 999; */
}

@media(hover: hover) and (pointer: fine) {
  .card.stack.peek{
    transform: rotate(-10deg) translateX(-150px);
  } 
}





.spin_to_the_back {
  animation: forwards spin-back calc(0.7s + var(--prev-stack-delay));
  animation-delay: --var(--prev-stack-delay);
}

@keyframes spin-back {
  0% {
    top: var(--prev-stack-top);
    left: var(--prev-stack-left);
    transform: rotate(0deg);
    z-index: var(--prev-stack-z);
  }
  20% {
    left: calc(var(--prev-stack-left) + 50px);
  }
  70% {
    top: -200px;
    left: calc(var(--stack-left) * 0.4);
  }
  100% {
    top: var(--stack-top);
    left: var(--stack-left);
    transform: rotate(360deg);
    z-index: var(--stack-z);
  }
}
