body {
  /* background-image: url('../assets/wood.jpg'); */
  background-color: #81d8d0;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 90vh;
  width: 90vw;
  background-color: transparent;
  overflow: hidden;
  /* border:1px solid hotpink; */
}

.portfolio {
  height: 100%;
  width: 100%;
  background-color:transparent;
  overflow: hidden;
  /* border:1px solid yellow; */
}

.image_thumb { 
  position:absolute;
  transition:0.4s;
  /* border: 1px solid #29bfb1; */
  width:100px;
  height:130px; 
  border-radius:8px;
  overflow:hidden;
  /* box-shadow: 0 0 5px 0 rgba(14, 12, 90, 0.2); */
  /* filter: sepia(100%) brightness(100%) hue-rotate(290deg); */
}

.image_thumb:hover{
  /* background-color: hotpink; */
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}

/* .image_thumb img:hover{
opacity:0.4; 
}*/ 



.pick {
  background-color: transparent; 
  opacity:1;
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
  /* box-shadow: 0 0 10px 0 rgba(14, 12, 90, 0.3); */
}

.pick:hover {
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}

.pick img:hover,.image_thumb img:hover { 
  opacity: 1;
  /* border: transparent solid 10px; */
}

.z1{
  z-index: 1;
  /* border: red solid 1px; */
}

.image_thumb:hover{
  z-index: 2;
}

.pick {
  z-index: 999;
}

/* .cover {
  position:fixed;
  top:0px;
  display: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color:rgba(255,50,50,0.5)
}

.cover.display {
  display: flex;
  z-index:9;
  justify-content: center;
  align-items: center;
} */

